In [321]:
import time
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from pandas.plotting import parallel_coordinates
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler # 표준화(평균을 기준)
from sklearn.preprocessing import MinMaxScaler # 정규화(정해진 규칙 기준, mix-max기준)
from sklearn.datasets import load_iris
# cross_val_score: 다양한 샘플링으 ㄹ해서 여러번 테스트 --> 평균치를 구해본다.!
from sklearn.metrics import *
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.preprocessing import LabelEncoder


%matplotlib inline

# 주요 라이브러리 import

from matplotlib import rc, font_manager
import matplotlib.font_manager as fm


# 디렉토리 및 파일 이름에 맞추어 변경
font_location = 'C:/Users/hi/Himedia_jupyter/NanumGothic.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)
import scipy.io as spio

from pandas.plotting import parallel_coordinates

In [322]:
df = pd.read_csv('../csv-data/predictive_maintenance.csv')
df.set_index('UDI', inplace=True)
df.isna().sum()

Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Target                     0
Failure Type               0
dtype: int64

In [348]:
df

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Type_H,Type_L,Type_M
UDI,,,,,,,,,
1,298.1,308.6,1551,42.8,0,0,0,0,1
2,298.2,308.7,1408,46.3,3,0,0,1,0
3,298.1,308.5,1498,49.4,5,0,0,1,0
4,298.2,308.6,1433,39.5,7,0,0,1,0
5,298.2,308.7,1408,40.0,9,0,0,1,0
...,...,...,...,...,...,...,...,...,...
9996,298.8,308.4,1604,29.5,14,0,0,0,1
9997,298.9,308.4,1632,31.8,17,0,1,0,0
9998,299.0,308.6,1645,33.4,22,0,0,0,1
9999,299.0,308.7,1408,48.5,25,0,1,0,0
10000,299.0,308.7,1500,40.2,30,0,0,0,1

In [323]:
df.corr()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
Air temperature [K],1.000000,0.876107,0.022670,-0.013778,0.013853,0.082556
Process temperature [K],0.876107,1.000000,0.019277,-0.014061,0.013488,0.035946
Rotational speed [rpm],0.022670,0.019277,1.000000,-0.875027,0.000223,-0.044188
Torque [Nm],-0.013778,-0.014061,-0.875027,1.000000,-0.003093,0.191321
Tool wear [min],0.013853,0.013488,0.000223,-0.003093,1.000000,0.105448
Target,0.082556,0.035946,-0.044188,0.191321,0.105448,1.000000

In [324]:
df['Failure Type'].value_counts()

No Failure                  9652
Heat Dissipation Failure     112
Power Failure                 95
Overstrain Failure            78
Tool Wear Failure             45
Random Failures               18
Name: Failure Type, dtype: int64

In [325]:
df['Target'].value_counts()

0    9661
1     339
Name: Target, dtype: int64

In [326]:
df['Type'] = df['Type'].astype('category')
df['Failure Type'] = df['Failure Type'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product ID               10000 non-null  object
 1   Type                     10000 non-null  category
 2   Air temperature [K]      10000 non-null  float64
 3   Process temperature [K]  10000 non-null  float64
 4   Rotational speed [rpm]   10000 non-null  int64
 5   Torque [Nm]              10000 non-null  float64
 6   Tool wear [min]          10000 non-null  int64
 7   Target                   10000 non-null  int64
 8   Failure Type             10000 non-null  category
dtypes: category(2), float64(3), int64(3), object(1)
memory usage: 644.9+ KB

In [327]:
df.isna().sum()

Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Target                     0
Failure Type               0
dtype: int64

In [328]:
df.columns

Index(['Product ID', 'Type', 'Air temperature [K]', 'Process temperature [K]',
       'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Target',
       'Failure Type'],
      dtype='object')

In [329]:
df = df[['Type', 'Air temperature [K]','Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Target']]
df = pd.get_dummies(df)

In [330]:
df

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Type_H,Type_L,Type_M
UDI,,,,,,,,,
1,298.1,308.6,1551,42.8,0,0,0,0,1
2,298.2,308.7,1408,46.3,3,0,0,1,0
3,298.1,308.5,1498,49.4,5,0,0,1,0
4,298.2,308.6,1433,39.5,7,0,0,1,0
5,298.2,308.7,1408,40.0,9,0,0,1,0
...,...,...,...,...,...,...,...,...,...
9996,298.8,308.4,1604,29.5,14,0,0,0,1
9997,298.9,308.4,1632,31.8,17,0,1,0,0
9998,299.0,308.6,1645,33.4,22,0,0,0,1
9999,299.0,308.7,1408,48.5,25,0,1,0,0
10000,299.0,308.7,1500,40.2,30,0,0,0,1

In [331]:
df.columns

Index(['Air temperature [K]', 'Process temperature [K]',
       'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Target',
       'Type_H', 'Type_L', 'Type_M'],
      dtype='object')

In [332]:
data = ['Air temperature [K]', 'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Type_H', 'Type_L', 'Type_M']
target = 'Target'

In [333]:
X_train, X_test, y_train, y_test = train_test_split(
    df[data],
    df[target],
    test_size=0.2,
    random_state=42
)

In [334]:
## shape 확인
print('----Shape 확인----')
print('X_train:', X_train.shape)
print('y_train:', y_train.shape)
print('X_test:', X_test.shape)
print('y_test', y_test.shape)

----Shape 확인----
X_train: (8000, 8)
y_train: (8000,)
X_test: (2000, 8)
y_test (2000,)

In [335]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 9255 to 7271
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Air temperature [K]      8000 non-null   float64
 1   Process temperature [K]  8000 non-null   float64
 2   Rotational speed [rpm]   8000 non-null   int64
 3   Torque [Nm]              8000 non-null   float64
 4   Tool wear [min]          8000 non-null   int64
 5   Type_H                   8000 non-null   uint8
 6   Type_L                   8000 non-null   uint8
 7   Type_M                   8000 non-null   uint8
dtypes: float64(3), int64(2), uint8(3)
memory usage: 398.4 KB

In [336]:
model_list = []
LR = LogisticRegression()
NB = GaussianNB()
RF = RandomForestClassifier()
SVC = SVC()
Dtree = DecisionTreeClassifier()
XGB = XGBClassifier()
KNN = KNeighborsClassifier()
model_list.append(("LR",LR))
model_list.append(("NB",NB))
model_list.append(("RF",RF))
model_list.append(("SVC",SVC))
model_list.append(("Dtree",Dtree))
model_list.append(("XGB",XGB))
model_list.append(("KNN",KNN))
model_list

[('LR', LogisticRegression()),
 ('NB', GaussianNB()),
 ('RF', RandomForestClassifier()),
 ('SVC', SVC()),
 ('Dtree', DecisionTreeClassifier()),
 ('XGB',
  XGBClassifier(base_score=None, booster=None, colsample_bylevel=None,
                colsample_bynode=None, colsample_bytree=None,
                enable_categorical=False, gamma=None, gpu_id=None,
                importance_type=None, interaction_constraints=None,
                learning_rate=None, max_delta_step=None, max_depth=None,
                min_child_weight=None, missing=nan, monotone_constraints=None,
                n_estimators=100, n_jobs=None, num_parallel_tree=None,
                predictor=None, random_state=None, reg_alpha=None,
                reg_lambda=None, scale_pos_weight=None, subsample=None,
                tree_method=None, validate_parameters=None, verbosity=None)),
 ('KNN', KNeighborsClassifier())]

In [337]:
svc

SVC()

In [338]:
def print_cv(model, X_train, y_train, k):
    scores = cross_val_score(model, X_train, y_train, cv = k)
    print(i, k, '----교차검증시작----')
    print('결과:', scores)
    mean_scores = np.mean(scores)
    print('평균:', mean_scores)
    return scores, mean_scores 
# 함수의 결과로 여러개의 데이터를 return
# 튜플로 묶어서 반환하게 된다.(scores, mean_scores)

In [339]:
cross_val_predict(rf, X_train, y_train)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [340]:
cross_val_score(rf, X_train, y_train, cv = 10)

array([0.98625, 0.98875, 0.97875, 0.98125, 0.98375, 0.98   , 0.98125,
       0.97875, 0.97625, 0.985  ])

In [341]:
print_cv(knn, X_train, y_train, 5)

RF 5 ----교차검증시작----
결과: [0.973125 0.96375  0.971875 0.969375 0.97    ]
평균: 0.9696250000000001

(array([0.973125, 0.96375 , 0.971875, 0.969375, 0.97    ]), 0.9696250000000001)

In [342]:
k_number=[5, 10]
sc_list = []
mean_sc_list = []
for i, model in model_list:
    for k in k_number:
        sc, mean_sc = print_cv(model, X_train, y_train, k)
        sc_list.append(sc)
        mean_sc_list.append(mean_sc)
    print()
print('**********************************************************************************************************************')
print()
print()
print('모델명:', model_list,'k:', k_number)
print()
print()
print('전체 모델의 교차 검증 결과 리스트:')
print(sc_list)
print('전체 모델의 교차 검증 결과 평균:')
print(mean_sc_list)
print()
# 최대 평균값 ==
mean_sc_list_nan = []
for i in mean_sc_list:
    if np.isnan(i):
        pass
    else:
        mean_sc_list_nan.append(i)
max_value = np.max(mean_sc_list_nan)
# 최대 평균값 인덱스 ==


max_index = np.nanargmax(mean_sc_list)
# 최대 평균값 모델명 ==
max_model = model_list[max_index//2][0]
if max_index%2 ==0:
    k_max = 5
else:
    k_max = 10

print('최고 교차 검증 평균>> ', max_value)
print('최고 교차 검증 인덱스>> ', max_index)
print('최고 교차 검증 모델링>> ', max_model, 'k =', k_max)

LR 5 ----교차검증시작----
결과: [0.973125 0.966875 0.966875 0.97     0.968125]
평균: 0.969
LR 10 ----교차검증시작----
결과: [0.97125 0.97875 0.965   0.9675  0.965   0.96875 0.97125 0.96875 0.96375
 0.97   ]
평균: 0.969

NB 5 ----교차검증시작----
결과: [0.96     0.955625 0.961875 0.95625  0.95625 ]
평균: 0.958
NB 10 ----교차검증시작----
결과: [0.9575  0.96375 0.95375 0.955   0.96125 0.95875 0.95625 0.95625 0.955
 0.9575 ]
평균: 0.9574999999999999

RF 5 ----교차검증시작----
결과: [0.985    0.980625 0.981875 0.98125  0.979375]
평균: 0.981625
RF 10 ----교차검증시작----
결과: [0.9875  0.9875  0.97875 0.9825  0.98375 0.98125 0.98125 0.98    0.975
 0.98375]
평균: 0.9821250000000001

SVC 5 ----교차검증시작----
결과: [0.965625 0.965625 0.965    0.965    0.965   ]
평균: 0.9652499999999999
SVC 10 ----교차검증시작----
결과: [0.96625 0.96625 0.965   0.965   0.965   0.965   0.965   0.965   0.965
 0.965  ]
평균: 0.9652499999999999

Dtree 5 ----교차검증시작----
결과: [0.986875 0.976875 0.98     0.98     0.975625]
평균: 0.979875
Dtree 10 ----교차검증시작----
결과: [0.97625 0.98375 0.98    0.9775  0.985   0.9775  0.9825  0.97875 0.97
 0.96875]
평균: 0.9780000000000001

XGB 5 ----교차검증시작----
결과: [nan nan nan nan nan]
평균: nan
XGB 10 ----교차검증시작----
결과: [nan nan nan nan nan nan nan nan nan nan]
평균: nan

KNN 5 ----교차검증시작----
결과: [0.973125 0.96375  0.971875 0.969375 0.97    ]
평균: 0.9696250000000001
KNN 10 ----교차검증시작----
결과: [0.97    0.9725  0.96375 0.9625  0.96875 0.97375 0.97125 0.9675  0.96625
 0.97625]
평균: 0.9692500000000001

**********************************************************************************************************************


모델명: [('LR', LogisticRegression()), ('NB', GaussianNB()), ('RF', RandomForestClassifier()), ('SVC', SVC()), ('Dtree', DecisionTreeClassifier()), ('XGB', XGBClassifier(base_score=None, booster=None, colsample_bylevel=None,
              colsample_bynode=None, colsample_bytree=None,
              enable_categorical=False, gamma=None, gpu_id=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_delta_step=None, max_depth=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, reg_alpha=None,
              reg_lambda=None, scale_pos_weight=None, subsample=None,
              tree_method=None, validate_parameters=None, verbosity=None)), ('KNN', KNeighborsClassifier())] k: [5, 10]


전체 모델의 교차 검증 결과 리스트:
[array([0.973125, 0.966875, 0.966875, 0.97    , 0.968125]), array([0.97125, 0.97875, 0.965  , 0.9675 , 0.965  , 0.96875, 0.97125,
       0.96875, 0.96375, 0.97   ]), array([0.96    , 0.955625, 0.961875, 0.95625 , 0.95625 ]), array([0.9575 , 0.96375, 0.95375, 0.955  , 0.96125, 0.95875, 0.95625,
       0.95625, 0.955  , 0.9575 ]), array([0.985   , 0.980625, 0.981875, 0.98125 , 0.979375]), array([0.9875 , 0.9875 , 0.97875, 0.9825 , 0.98375, 0.98125, 0.98125,
       0.98   , 0.975  , 0.98375]), array([0.965625, 0.965625, 0.965   , 0.965   , 0.965   ]), array([0.96625, 0.96625, 0.965  , 0.965  , 0.965  , 0.965  , 0.965  ,
       0.965  , 0.965  , 0.965  ]), array([0.986875, 0.976875, 0.98    , 0.98    , 0.975625]), array([0.97625, 0.98375, 0.98   , 0.9775 , 0.985  , 0.9775 , 0.9825 ,
       0.97875, 0.97   , 0.96875]), array([nan, nan, nan, nan, nan]), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]), array([0.973125, 0.96375 , 0.971875, 0.969375, 0.97    ]), array([0.97   , 0.9725 , 0.96375, 0.9625 , 0.96875, 0.97375, 0.97125,
       0.9675 , 0.96625, 0.97625])]
전체 모델의 교차 검증 결과 평균:
[0.969, 0.969, 0.958, 0.9574999999999999, 0.981625, 0.9821250000000001, 0.9652499999999999, 0.9652499999999999, 0.979875, 0.9780000000000001, nan, nan, 0.9696250000000001, 0.9692500000000001]

최고 교차 검증 평균>>  0.9821250000000001
최고 교차 검증 인덱스>>  5
최고 교차 검증 모델링>>  RF k = 10

In [343]:
mean_sc_list

[0.969,
 0.969,
 0.958,
 0.9574999999999999,
 0.981625,
 0.9821250000000001,
 0.9652499999999999,
 0.9652499999999999,
 0.979875,
 0.9780000000000001,
 nan,
 nan,
 0.9696250000000001,
 0.9692500000000001]

In [344]:
def grid_search(model, params, k):
    gs_model = GridSearchCV(model, params, cv=k)
    ## gs_model는 최적의 파라메터가 적요된 모델의 객체!
    gs_model.fit(X_train, y_train)
    print('best_estimator:',gs_model.best_estimator_) ##최적의 파라메터가 적용된 모델 객체
    print('best_score:',gs_model.best_score_) ##최적의 파라메터가 적용된 모델로 학습한 정확도 결과(acc)
    print('best_params:',gs_model.best_params_) ##최적의 파라메터
    print('gs_model:',gs_model) #grid_search 객체

In [345]:
params = { #하이퍼파라메터 설정으로 가질 수 있는 모든 경우의 수=> 4*3*2: 24
    'max_depth':[3, 5, 7, 10], #key:하이퍼파라메터명, values는 list
    'random_state': [1,3,5],
    'criterion': ['gini','entropy'] #혼란스러운 정도(분류의 정도)를 계산하는 기준
}

for i, model in model_list:
    try:
        print('----clf model:', model, '----')
        grid_search(model, params, 10)
        print()
    except Exception as e:
        print(e)
        print()

----clf model: LogisticRegression() ----
Invalid parameter criterion for estimator LogisticRegression(). Check the list of available parameters with `estimator.get_params().keys()`.

----clf model: GaussianNB() ----
Invalid parameter criterion for estimator GaussianNB(). Check the list of available parameters with `estimator.get_params().keys()`.

----clf model: RandomForestClassifier() ----
best_estimator: RandomForestClassifier(criterion='entropy', max_depth=10, random_state=3)
best_score: 0.9811249999999999
best_params: {'criterion': 'entropy', 'max_depth': 10, 'random_state': 3}
gs_model: GridSearchCV(cv=10, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [3, 5, 7, 10],
                         'random_state': [1, 3, 5]})

----clf model: SVC() ----
Invalid parameter criterion for estimator SVC(). Check the list of available parameters with `estimator.get_params().keys()`.

----clf model: DecisionTreeClassifier() ----
best_estimator: DecisionTreeClassifier(criterion='entropy', max_depth=7, random_state=5)
best_score: 0.983625
best_params: {'criterion': 'entropy', 'max_depth': 7, 'random_state': 5}
gs_model: GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [3, 5, 7, 10],
                         'random_state': [1, 3, 5]})

----clf model: XGBClassifier(base_score=None, booster=None, colsample_bylevel=None,
              colsample_bynode=None, colsample_bytree=None,
              enable_categorical=False, gamma=None, gpu_id=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_delta_step=None, max_depth=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, reg_alpha=None,
              reg_lambda=None, scale_pos_weight=None, subsample=None,
              tree_method=None, validate_parameters=None, verbosity=None) ----
feature_names must be string, and may not contain [, ] or <

----clf model: KNeighborsClassifier() ----
Invalid parameter criterion for estimator KNeighborsClassifier(). Check the list of available parameters with `estimator.get_params().keys()`.

In [346]:
## 최적의 하이퍼 파라메터로 모델 객체 생성
## fit()
dt_gs = DecisionTreeClassifier(criterion = 'gini', max_depth=3, random_state=1)
dt_gs.fit(X_train, y_train)
rf_gs = RandomForestClassifier(criterion = 'gini', max_depth=3, random_state=3)
rf_gs.fit(X_train, y_train)

RandomForestClassifier(max_depth=3, random_state=3)

In [347]:
## 테스트 데이터로 검증해보자!
def test_validation(model, X_test, y_test):
    predict_result = model.predict(X_test)
    acc = accuracy_score(y_test, predict_result)
    print("accuracy:", acc)
    cf = confusion_matrix(y_test, predict_result)
    ##실제(c) --> 예측(c, sg), 실제(sg)==> 예측(sg,c),
    # 이진분류(binary classification)인 경우에는
    # 예측할 수 있는 경우의 수는 4가지!
    # 4가지를 표형태로 정리해주는 것이 confusion matrix!
    # 첫반째 행/열은 c, 두번째 행/열은 sg, abc순으로 행/열이 결정
    print('confusion_matrix:\n', cf)
    ## confusion matrix는 binary classfication 인 경우에는 보기가 괜찮으나, 
    ## multi class classification인 경우에는 보기가 힘들어서
    ## classification_report 를 사용하는게 보기 편하다
    c_report = classification_report(y_test, predict_result)
    print('classification_report:\n', c_report)

test_validation(dt_gs, X_test, y_test)

accuracy: 0.975
confusion_matrix:
 [[1935    4]
 [  46   15]]
classification_report:
               precision    recall  f1-score   support

           0       0.98      1.00      0.99      1939
           1       0.79      0.25      0.38        61

    accuracy                           0.97      2000
   macro avg       0.88      0.62      0.68      2000
weighted avg       0.97      0.97      0.97      2000

In [ ]:
print(roc_auc_score(y_test, predict_result_2))